@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body .divider {
  display: block;
  background-color: rgb(133, 133, 133);
  width: 300px;
  height: 3px;
  margin: 40px auto 40px auto;
  box-sizing: border-box;
}
body .button-primary {
  background-color: #06283D;
  border: none;
  color: #FFF7E9;
  margin: 0;
  border-radius: 12px;
  font-size: 1.3em;
  padding: 0 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
body .button-primary.rectangle {
  border-radius: 8px;
  padding: 10px 20px;
}
body .button-primary:hover {
  background-color: #1746A2;
}
body .button-primary.big {
  padding: 8px 12px;
  font-size: 1.5em;
}
body .button-link {
  color: #5F9DF7;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
body .button-link:hover {
  color: #1746A2;
  text-decoration: underline;
}
body .content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
}
body header .logo a {
  font-weight: 800;
  text-decoration: none;
  color: #5F9DF7;
  transition: 0.2s ease-in-out;
}
body header .logo a:hover {
  color: #1746A2;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
body header nav li a {
  color: #5F9DF7;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
body header nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
body header nav li:hover a {
  color: #1746A2;
}
body header nav li:hover a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1746A2;
}
body section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 100vh;
}
body section .section-title {
  color: #06283D;
  font-size: 6em;
  margin: 0;
  padding: 10px 8px 18px 8px;
}
body section .content .post-card {
  display: flex;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
body section .content .post-card:hover {
  background-color: #eee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body section .content .post-card:hover .post-background img {
  transform: scale(1.2);
}
body section .content .post-card .post-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
}
body section .content .post-card .post-description .date {
  font-weight: 400;
  color: rgb(133, 133, 133);
}
body section .content .post-card .post-description .title {
  padding: 0;
  margin: 0;
  font-weight: 800;
  color: #06283D;
}
body section .content .post-card .post-description .sub-title {
  font-weight: 400;
  color: rgb(133, 133, 133);
}
body section .content .post-card .post-background {
  overflow: hidden;
  position: relative;
}
body section .content .post-card .post-background img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in-out;
}
body section .content .post-card .post-background .loader-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  z-index: -1;
}
body section .content .post-card .post-background .loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5F9DF7;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5F9DF7 transparent transparent transparent;
}
body section .content .post-card .post-background .loader-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
body section .content .post-card .post-background .loader-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
body section .content .post-card .post-background .loader-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body section .content .post-of-the-day-container .post-card .post-background {
  height: 400px;
  width: 100%;
}
body section .content .post-of-the-day-container .post-card .post-description .title {
  font-size: 4.2em;
}
body section .content .posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  padding: 40px 0;
  justify-content: center;
  gap: 24px;
}
body section .content .posts-container .post-background {
  height: 230px;
}
body section .content .posts-container .post-card {
  flex-direction: column;
}
body section .content .posts-container .post-card .post-description {
  padding: 10px 8px;
}
body section .content .posts-container .post-card .post-description .date {
  margin: 8px 0;
}
body section .content .posts-container .post-card .post-background {
  width: 100%;
}
body section .content .more-actions {
  text-align: center;
  padding-bottom: 40px;
}
body section .contact-form .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
body section .contact-form .input-wrapper {
  display: flex;
  flex-direction: column;
}
body section .contact-form .input-wrapper.dropdown {
  position: relative;
}
body section .contact-form .input-wrapper.dropdown select {
  display: none;
}
body section .contact-form .input-wrapper label {
  color: #06283D;
  margin: 8px 0 8px 12px;
}
body section .contact-form .input-wrapper .dropdown-value {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
body section .contact-form .input-wrapper .dropdown-value:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-15%);
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #06283D transparent transparent transparent;
}
body section .contact-form .input-wrapper .dropdown-value p {
  margin: 0;
}
body section .contact-form .input-wrapper .dropdown-value,
body section .contact-form .input-wrapper textarea,
body section .contact-form .input-wrapper input {
  padding: 14px 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 1.1em;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
}
body section .contact-form .input-wrapper .dropdown-value::-moz-placeholder, body section .contact-form .input-wrapper textarea::-moz-placeholder, body section .contact-form .input-wrapper input::-moz-placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body section .contact-form .input-wrapper .dropdown-value:-ms-input-placeholder, body section .contact-form .input-wrapper textarea:-ms-input-placeholder, body section .contact-form .input-wrapper input:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body section .contact-form .input-wrapper .dropdown-value::placeholder,
body section .contact-form .input-wrapper textarea::placeholder,
body section .contact-form .input-wrapper input::placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body section .contact-form .input-wrapper .dropdown-value:hover,
body section .contact-form .input-wrapper textarea:hover,
body section .contact-form .input-wrapper input:hover {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
body section .contact-form .input-wrapper .dropdown-value:focus,
body section .contact-form .input-wrapper textarea:focus,
body section .contact-form .input-wrapper input:focus {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
body section .contact-form .input-wrapper.opened .dropdown-list {
  top: 100%;
  z-index: 10000;
  opacity: 1;
  pointer-events: all;
  max-height: 500px;
  overflow-y: scroll;
}
body section .contact-form .input-wrapper.opened .dropdown-value {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  border-radius: 12px 12px 0 0;
}
body section .contact-form .input-wrapper .dropdown-list {
  position: absolute;
  top: 80%;
  z-index: -100;
  opacity: 0;
  pointer-events: none;
  list-style-type: none;
  margin: 0;
  padding: 10px 8px;
  background-color: rgb(254, 254, 254);
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 0 0 12px 12px;
  transition: 0.2s ease-in-out;
}
body section .contact-form .input-wrapper .dropdown-list .dropdown-list-item {
  margin: 4px 0;
  padding: 10px 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  color: #06283D;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
body section .contact-form .input-wrapper .dropdown-list .dropdown-list-item.selected .checkbox {
  box-shadow: 0 0 0 2pt #5F9DF7;
  border-color: #fff;
  background-color: #5F9DF7;
}
body section .contact-form .input-wrapper .dropdown-list .dropdown-list-item:hover {
  background-color: rgba(238, 238, 238, 0.35);
}
body section .contact-form .input-wrapper .dropdown-list .dropdown-list-item .checkbox {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #5F9DF7;
  transition: 0.2s ease-in-out;
}
body section .contact-form .input-wrapper.content {
  margin-top: 60px;
}
body section .contact-form .input-wrapper.content textarea {
  resize: vertical;
  min-height: 180px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body section .about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
body section .about-wrapper .title {
  width: 100%;
  text-align: center;
}
body section .about-wrapper .title.small {
  font-size: 0.9em;
  color: rgb(133, 133, 133);
  font-weight: 600;
}
body section .about-wrapper .title.main {
  font-size: 1.9em;
  color: #06283D;
  margin: 0;
}
body section .about-wrapper .about-paragraph {
  line-height: 30px;
  color: rgb(133, 133, 133);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
body section .about-wrapper .button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
body section .post-header {
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
body section .post-header .title {
  font-size: 2.5em;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 12px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body section .post-header .sub-title {
  color: rgb(133, 133, 133);
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
  font-size: 1.2em;
}
body section .post-header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
}
body section .info-wrapper {
  padding: 8px 28px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body section .info-wrapper .author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}
body section .info-wrapper .author-info img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body section .info-wrapper .author-info .description {
  display: grid;
  align-items: center;
  gap: 5px;
}
body section .info-wrapper .author-info .description .name {
  font-size: 1.2em;
  color: #06283D;
  margin: 0;
}
body section .info-wrapper .author-info .description .spot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 3px;
  margin-bottom: 3px;
  background-color: rgb(133, 133, 133);
  border-radius: 50%;
}
body section .info-wrapper .author-info .description .details {
  color: rgb(133, 133, 133);
  margin: 0;
}
body section .info-wrapper .button-wrapper {
  display: flex;
  gap: 10px;
}
body section .info-wrapper .button-wrapper button {
  border: 1px solid rgb(133, 133, 133);
  background-color: transparent;
  font-size: 1.2em;
  padding: 8px 10px;
  border-radius: 8px;
}
body section .info-wrapper .button-wrapper button i.mr {
  margin-right: 8px;
}
body section .post-content {
  padding: 18px 28px 80px 28px;
  display: flex;
  gap: 10px;
}
body section .post-content .headlines {
  flex: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body section .post-content .headlines .headlines-title {
  color: rgb(133, 133, 133);
  font-size: 0.8em;
}
body section .post-content .headlines li {
  margin: 12px 0;
  font-weight: 500;
  color: #06283D;
  padding: 10px 20px;
  border-radius: 5px;
}
body section .post-content .headlines li.active {
  background-color: #eee;
  font-weight: 700;
}
body section .post-content .text-content {
  flex: 5;
}
body section .post-content .text-content .text {
  height: auto;
  display: flex;
  font-weight: 500;
}
body section .post-content .text-content .text .highlight {
  display: block;
}
body section .post-content .text-content .text p {
  margin: 18px;
  font-size: 1.2em;
}
body section .post-content .text-content .text.highlighted {
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 8px solid #1746A2;
  padding-left: 0px;
  margin-left: 18px;
}
body section .post-content .text-content .text.highlighted p {
  margin-left: 15px;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 80px 0;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.109);
  box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px;
}
body footer h3 {
  font-size: 2em;
  color: #06283D;
  margin: 0;
  padding: 0;
}
body footer h4 {
  color: rgb(133, 133, 133);
  margin: 16px 0;
}
body footer .flex-wrapper {
  display: flex;
  gap: 10px;
}
body footer input {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.3em;
  border: none;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 12px 20px;
  border-radius: 12px;
  width: 100%;
  min-width: 400px;
  color: rgb(133, 133, 133);
  transition: 0.2s ease-in-out;
  color: black;
}
body footer input::-moz-placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body footer input:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body footer input::placeholder {
  color: rgba(17, 17, 17, 0.28);
}
body footer input:focus, body footer input:hover {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
body footer .footer-info {
  padding: 8px 30px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
body footer .footer-info h4 {
  margin: 0;
}
body footer .footer-info h4 span {
  font-size: 1.2em;
}/*# sourceMappingURL=main.css.map */