$color_white: #FFF7E9;
$dimmed_color_white: rgb(133, 133, 133);

$color_orange: #FF731D;

$color_light_blue: #5F9DF7;
$dimmed_color_light_blue: #5f9cf74a;

$color_navy_blue: #1746A2;
$color_dark_navy_blue: #06283D;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .divider {
        display: block;
        background-color: $dimmed_color_white;
        width: 300px;
        height: 3px;
        margin: 40px auto 40px auto;
        box-sizing: border-box;
    }
    
    .button-primary {
        background-color: $color_dark_navy_blue;
        border: none;
        color: $color_white;
        margin: 0;
        border-radius: 12px;
        font-size: 1.3em;
        padding: 0 12px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &.rectangle {
            border-radius: 8px;
            padding: 10px 20px;
        }

        &:hover {
            background-color: $color_navy_blue;
        }

        &.big {
            padding: 8px 12px;
            font-size: 1.5em;
        }
    }

    .button-link {
        color: $color_light_blue;
        transition: .2s ease-in-out;
        text-decoration: none;
            
        &:hover {
            color: $color_navy_blue;
            text-decoration: underline;
        }
    }

    .content-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 10px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 30px;

        .logo {
            a {
                font-weight: 800;
                text-decoration: none;
                color: $color_light_blue;
                transition: .2s ease-in-out;

                &:hover {
                    color: $color_navy_blue;
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            list-style-type: none;

            li {
                a {
                    color: $color_light_blue;
                    text-decoration: none;
                    font-weight: 600;
                    transition: .2s ease-in-out;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: transparent;
                        transition: .2s ease-in-out;
                    }
                }

                &:hover {
                    a {
                        color: $color_navy_blue;

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: $color_navy_blue;
                        }
                    }
                }
            }
        }
    }

    section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        min-height: 100vh;

        .section-title {
            color: $color_dark_navy_blue;
            font-size: 6em;
            margin: 0;
            padding: 10px 8px 18px 8px;
        }

        .content {
            .post-card {
                display: flex;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #eee;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    .post-background {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }

                .post-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                    padding-left: 30px;

                    .date {
                        font-weight: 400;
                        color: $dimmed_color_white;
                    }

                    .title {
                        padding: 0;
                        margin: 0;
                        font-weight: 800;
                        color: $color_dark_navy_blue;
                    }

                    .sub-title {
                        font-weight: 400;
                        color: $dimmed_color_white;
                    }
                }

                .post-background {
                    overflow: hidden;
                    position: relative;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-position: center;
                        object-fit: cover;
                        transition: .2s ease-in-out;
                    }

                    .loader-ring {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 80px;
                        height: 80px;
                        z-index: -1;
                
                        div {
                            box-sizing: border-box;
                            display: block;
                            position: absolute;
                            width: 64px;
                            height: 64px;
                            margin: 8px;
                            border: 8px solid $color_light_blue;
                            border-radius: 50%;
                            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                            border-color: $color_light_blue transparent transparent transparent;
                
                            &:nth-child(1) {
                                animation-delay: -0.45s;
                            }
                
                            &:nth-child(2) {
                                animation-delay: -0.3s;
                            }
                
                            &:nth-child(3) {
                                animation-delay: -0.15s;
                            }
                        }
                    }
                        
                    @keyframes lds-ring {
                        0% {
                        transform: rotate(0deg);
                        }
                        100% {
                        transform: rotate(360deg);
                        }
                    }
                }
            }

            .post-of-the-day-container {
                .post-card {
                    .post-background {
                        height: 400px;
                        width: 100%;
                    }

                    .post-description {
                        .title {
                            font-size: 4.2em;
                        }
                    }
                }
            }

            .posts-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 30px;
                padding: 40px 0;
                justify-content: center;
                gap: 24px;

                .post-background {
                    height: 230px;
                }
                
                .post-card {
                    flex-direction: column;

                    .post-description {
                        padding: 10px 8px;

                        .date {
                            margin: 8px 0;
                        }
                    }

                    .post-background {
                        width: 100%;
                    }
                }

            }

            .more-actions {
                text-align: center;
                padding-bottom: 40px;
            }
        }

        .contact-form {
            .input-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 60px;
            }

            .input-wrapper {
                display: flex;
                flex-direction: column;

                &.dropdown {
                    position: relative;
                    select {
                        display: none;
                    }
                }
                
                label {
                    color: $color_dark_navy_blue;
                    margin: 8px 0 8px 12px;
                }

                .dropdown-value {
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    position: relative;

                    &:after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        transform: translateY(-15%);
                        right: 15px;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        border-color: $color_dark_navy_blue transparent transparent transparent;
                    }

                    p {
                        margin: 0;
                    }
                }

                .dropdown-value,
                textarea,
                input {
                    padding: 14px 18px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: none;
                    transition: box-shadow .2s ease-in-out;
                    font-size: 1.1em;
                    border-radius: 12px;
                    outline: none;
                    box-sizing: border-box;

                    &::placeholder {
                        color: rgba(17, 17, 17, 0.28);
                    }
                    
                    &:hover {
                        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
                    }
                    
                    &:focus {
                        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
                    }
                }

                &.opened {
                    .dropdown-list {
                        top: 100%;
                        z-index: 10000;
                        opacity: 1;
                        pointer-events: all;
                        max-height: 500px;
                        overflow-y: scroll;
                    }

                    .dropdown-value {
                        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
                        border-radius: 12px 12px 0 0;
                    }
                }

                .dropdown-list {
                    position: absolute;
                    top: 80%;
                    z-index: -100;
                    opacity: 0;
                    pointer-events: none;
                    list-style-type: none;
                    margin: 0;
                    padding: 10px 8px;
                    background-color: rgb(254, 254, 254);
                    width: 100%;
                    box-sizing: border-box;
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
                    border-radius: 0 0 12px 12px;
                    transition: .2s ease-in-out;

                    .dropdown-list-item {
                        margin: 4px 0;
                        padding: 10px 14px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 12px;
                        color: $color_dark_navy_blue;
                        cursor: pointer;
                        width: 100%;
                        box-sizing: border-box;
                        border-radius: 10px;
                        transition: .1s ease-in-out;

                        &.selected {

                            .checkbox {
                                box-shadow: 0 0 0 2pt $color_light_blue;
                                border-color: #fff;
                                background-color: $color_light_blue;
                            }
                        }

                        &:hover {
                            background-color: rgba(238, 238, 238, 0.35);
                        }

                        .checkbox {
                            display: block;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 2px solid $color_light_blue;
                            transition: .2s ease-in-out;
                        }
                    }
                }

                &.content {
                    margin-top: 60px;

                    textarea {
                        resize: vertical;
                        min-height: 180px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
            }
        }

        .about-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;

            .title {
                width: 100%;
                text-align: center;
                
                &.small {
                    font-size: 0.9em;
                    color: $dimmed_color_white;
                    font-weight: 600;
                }
                
                &.main {
                    font-size: 1.9em;
                    color: $color_dark_navy_blue;
                    margin: 0;
                }
            }

            .about-paragraph {
                line-height: 30px;
                color: $dimmed_color_white;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }

            .button-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        .post-header {
            text-align: center;
            padding: 20px;
            padding-top: 80px;
            margin-left: auto;
            margin-right: auto;
            
            .title {
                font-size: 2.5em;
                margin: 0;
                margin-top: 9px;
                margin-bottom: 12px;
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .sub-title {
                color: $dimmed_color_white;
                max-width: 920px;
                margin-left: auto;
                margin-right: auto;
                letter-spacing: 1.2px;
                margin-bottom: 40px;
                font-size: 1.2em;
            }

            img {
                width: 100%;
                object-fit: cover;
                max-height: 600px;
            }
        }
        
        .info-wrapper {
            padding: 8px 28px;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .author-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 0;
                
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .description {
                    display: grid;
                    align-items: center;
                    gap: 5px;

                    .name {
                        font-size: 1.2em;
                        color: $color_dark_navy_blue;
                        margin: 0;
                    }

                    .spot {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        margin: 3px;
                        margin-bottom: 3px;
                        background-color: $dimmed_color_white;
                        border-radius: 50%;

                    }
                    
                    .details {
                        color: $dimmed_color_white;
                        margin: 0;
                    }
                }
            }

            .button-wrapper {
                display: flex;
                gap: 10px;

                button {
                    border: 1px solid $dimmed_color_white;
                    background-color: transparent;
                    font-size: 1.2em;
                    padding: 8px 10px;
                    border-radius: 8px;

                    i {
                        &.mr {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .post-content {
            padding: 18px 28px 80px 28px;
            display: flex;
            gap: 10px;

            .headlines {
                flex: 2;
                margin: 0;
                padding: 0;
                list-style-type: none;

                .headlines-title {
                    color: $dimmed_color_white;
                    font-size: .8em;
                }

                li {
                    margin: 12px 0;
                    font-weight: 500;
                    color: $color_dark_navy_blue;
                    padding: 10px 20px;
                    border-radius: 5px;

                    &.active {
                        background-color: #eee;
                        font-weight: 700;
                    }
                }
            }

            .text-content {
                flex: 5;

                .text {
                    height: auto;
                    display: flex;
                    font-weight: 500;

                    .highlight {
                        display: block;
                    }

                    p {
                        margin: 18px;
                        font-size: 1.2em;
                    }

                    &.highlighted {
                        font-weight: 700;
                        position: relative;
                        padding-left: 20px;
                        box-sizing: border-box;
                        border-left: 8px solid $color_navy_blue;
                        padding-left: 0px;
                        margin-left: 18px;

                        p {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0 80px 0;
        text-align: center;
        background-color: rgba(17, 17, 17, 0.109);
        box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px;

        h3 {
            font-size: 2em;
            color: $color_dark_navy_blue;
            margin: 0;
            padding: 0;
        }
        
        h4 {
            color: $dimmed_color_white;
            margin: 16px 0;
        }

        .flex-wrapper {
            display: flex;
            gap: 10px;
        }

        input {
            box-sizing: border-box;
            margin: 0;
            font-size: 1.3em;
            border: none;
            outline: none;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 12px 20px;
            border-radius: 12px;
            width: 100%;
            min-width: 400px;
            color: $dimmed_color_white;
            transition: .2s ease-in-out;
            color: black;
            
            &::placeholder {
                color: rgba(17, 17, 17, 0.28);
            }

            &:focus,
            &:hover {
                box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
            }
        }

        .footer-info {
            padding: 8px 30px;
            width: 100%;
            text-align: left;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            h4 {
                margin: 0;

                span {
                    font-size: 1.2em;
                }
            }
        }
    }
}